* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(47, 45, 45); */
    /* box-sizing: border-box; */
    background-color: #191A19;
    color: white;
}

body{
    display:flex;
    flex-direction: column;

    text-align: center;
    min-width: 450px;
    max-width: 1500px;
    
}


/************************ navigation section *************************/
nav{
    position:sticky;
    top: 0;
    background-color: #3a3939;
}
nav ul{
    list-style: none;
    font-size: 1.5rem;

    display:flex;
    justify-content: flex-end;
    gap: 2rem;

    margin: 1rem 2rem;

    background-color: #3a3939;
}

nav a{
    text-decoration: none;
    background-color: #3a3939;
}

/************************ hero section *******************************/
.hero{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    /* background: black;
    background: linear-gradient(to bottom, #000000 0%, #87888b 100%); */
    
}
.hero h2, .hero p{
    font-size: 3rem;
    font-weight: normal;
    
    position:relative;
    

    background-color: transparent;
}
.hero span{
    color: #8FD6E1;
    background-color: transparent;
}
.large-header {
    /* position:relative; */
    position: absolute;
	width: 100%;
	/* background: #333; */
	overflow: hidden;
	/* background-size: cover;
	background-position: center center; */
	/* z-index: 1; */
    /* background:  #fe5757;
    animation: colorChange 5s ease-in-out infinite;
    animation-fill-mode: both;
    mix-blend-mode: overlay; */
}
@keyframes colorChange {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: .9;
    }
  }

#demo-canvas{
   
}

/*********************** about section **************************/
.about{
    /* height: 100vh; */
    display:flex;
    flex-direction: column;
   
    gap: 4rem;
   
}

.about h2{
    font-size: 3rem;
    padding-top: 6rem;
}

.about-body{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    
}

.about .intro{
    /* flex:1; */
    /* padding: 100px;
    min-width: 250px; */
    width:400px;
    height:400px;
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    padding: 0 1rem;
    
}

.about .skills{
    display: flex;
    gap: 1.5rem;
    padding: 0 1rem;
}

.about .skill-item{
    border: solid 1px black;
    border-radius: 1rem;
    width:100px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0.5rem;
}

.about .skills-subgroup{
    display:flex;
    flex-direction: column;
    justify-content: center;

    gap: 1.5rem;
}

.about img{
    width: 48px;
    height: 48px;
}

/* ********************************* projects section ************************************ */
.projects{
   
}



/************************************** contact section *********************************/
.contact {
    padding-bottom: 4rem;
}
.contact h2{
    padding: 4rem;
    font-size: 3rem;
}

.contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.contact input{
   
}
.contact input, .contact textarea{
    width: 400px;
    padding:0.5rem;
    
}

textarea{
    resize:none;
}


/*********************************** footer section  *********************************/
.footer{
    height:100px;
    padding: 1rem;
}