* {
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;

    /* text-align: center; */
    min-width: 450px;
    max-width: 1500px;
    /* background-color: #191A19; */
    background-color: black;
    color: white;
}

h2{
    font-size: 3rem;
    text-align: center;
}

.fade-in{
    animation: 1 ease-in fadein;
}

@keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }

.slide-in-left{
    animation: 0.8s 1 ease-out slideinLeft;
}

@keyframes slideinLeft {
    from {
        opacity: 0.2;
        transform: translateX(-50%);
    }
  
    to {
        transform: translateX(0%);
    }
  }

  .slide-in-right{
    animation: 0.8s 1 ease-out slideinRight;
}

@keyframes slideinRight {
    from {
        opacity: 0.2;
        transform: translateX(50%);
    }
  
    to {
        transform: translateX(0%);
    }
  }

/************************ navigation section *************************/
nav{
    position:sticky;
    top: 0;
    background-color: #3a3939;
    z-index: 1;
}
nav ul{
    list-style: none;
    font-size: 1.2rem;

    display:flex;
    justify-content: flex-end;
    gap: 2rem;

    margin: 0.8rem 2rem;

   
}

nav a{
    text-decoration: none;
   color: white;
}

/************************ hero section *******************************/
.hero{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    /* background: black;
    background: linear-gradient(to bottom, #000000 0%, #87888b 100%); */
    
}
.hero h1{
   font-size: 3.5rem;
    font-weight: normal;
    
    position:relative;
    

    background-color: transparent;
}
.hero span{
    color: #8FD6E1;
    background-color: transparent;
}
.large-header {
    /* position:relative; */
    position: absolute;
	width: 100%;
	/* background: #333; */
	overflow: hidden;
	/* background-size: cover;
	background-position: center center; */
	/* z-index: 1; */
    /* background:  #fe5757;
    animation: colorChange 5s ease-in-out infinite;
    animation-fill-mode: both;
    mix-blend-mode: overlay; */
}
@keyframes colorChange {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: .9;
    }
  }

#demo-canvas{
   
}

.arrow{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid #8FD6E1;
    border-right: 5px solid #8FD6E1;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

/*********************** about section **************************/
.about{
    /* height: 100vh; */
    display:flex;
    flex-direction: column;
   
    gap: 4rem;
   
}

.about h2{
    padding-top: 6rem;
}

.about-body{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    
}

.about .intro{
    width:400px;
    height:400px;
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    padding: 0 1rem;
    
}

.about .skills{
    display: flex;
    gap: 1.5rem;
    padding: 0 1rem;
}
.about .border-wrapper{
    background: linear-gradient(to right, red, purple);
    padding: 3px;
    border-radius: 1.2rem;
}
.about .skill-item{


    width:100px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0.5rem;
    background-color: black;
    border-radius: 1rem;
}

.about .skills-subgroup{
    display:flex;
    flex-direction: column;
    justify-content: center;

    gap: 1.5rem;
}

.about img{
    width: 48px;
    height: 48px;
}

/* ********************************* projects section ************************************ */
.projects {
   padding:3rem 1rem;
   display: flex;
   flex-direction: column;
   gap: 5rem;
}

.projects h2{
    padding: 3rem 0;
}

.project{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4rem;

}
 

.project img{
    width:100%;
    height: auto;
    max-width: 600px;
    transition: transform ease-in 0.3s;
}

.project-img-container:hover .project-img{
    transform: scale(1.1);
}

.project-description{
   width: 300px;
   display: flex;
   flex-direction: column;
   gap: 2.5rem;
   align-items: start;
   border: #34B3F1 solid 1px;
   padding: 2rem;
   border-radius: 0.5rem;
   color: #34B3F1;
}

.project-description h3{
    font-size: 1.5rem;
    font-weight: normal;
}

.project-description p{
    line-height: 1.5rem;
}

.project-links{
    display: flex;
    gap: 1rem;
}

.project-links a{
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    width:4rem;
    text-align: center;
    font-size: 0.9rem;
    border: #395B64 solid 1px;
    color: #F15412;
    transition: transform .2s ease-out;
}

.project-links a:hover{
    transform: scale(1.1);
    background-color: #7F8487;
    color: white;
 
}
/************************************** contact section *********************************/
.contact {
    padding-bottom: 4rem;
}
.contact h2{
    padding-top: 4rem;
}
.contact p{
    padding: 2rem;
    text-align: center;
   
}
.contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.contact input{
   
}
.contact input, .contact textarea{
    width: 400px;
    padding:0.5rem;
    border-color: transparent;
    background-color: #3a3939;
    color:white;
}

textarea{
    resize:none;
}

.contact button{
    border-color: transparent;
    background-color: #3a3939;
    padding:0.2rem 0.5rem;
    border-radius: 0.5rem;
    color:white;
}

/*********************************** footer section  *********************************/
.footer{
    height:70px;
    padding: 1rem;
    background-color: #3a3939;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    align-items: center;
}


.footer img{
    width:30px;
    height:30px;
    padding: 0 0.5rem;
}